:root {
    --blanc: #ffffff;
    --fosc: #212121;
    --primari: #ffc107;
    --secundari: #0097a7;
    --gris:#757575;
    --grisClar:#DFE9F3;

}
/*Globals*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para Box Model*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.contenidor {
    max-width: 120rem;
    margin: 0 auto;
}
.boto {
    background-color: var(--secundari);
    color: var(--blanc);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boto:hover {
    cursor: pointer;
}
@media (min-width: 768px) { 
    .boto {
        width: auto;
    }
}
.ombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(94,94,94,0.53);
    -moz-box-shadow: 0px 5px 15px 0px rgba(94,94,94,0.53);
    box-shadow: 0px 5px 15px 0px rgba(94,94,94,0.53);
    background-color: var(--blanc);
    padding: 2rem;
    border-radius: 1rem;
}
/*Tipografia*/
body {
    font-size: 16px;/* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClar) 0%, var(--blanc));
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}
/*Títols*/
.titol span {
    font-size: 2rem;
}
/* Utilitats */
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) { 
    .w-sm-100 {
        width: auto;
    }
}
.alinear-dreta {
    justify-content: flex-end;
}
.flex {
    display: flex;
}
/*Navegació principal*/
.nav-bg{
    background-color: var(--secundari);
}
.navegacio-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) { 
    .navegacio-principal{
        flex-direction: row;
        justify-content:space-between;
    }
}
.navegacio-principal a {
    display: block;
    text-align: center;
    color: var(--blanc);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacio-principal a:hover {
    background-color: var(--primari);
    color: var(--fosc);
}
/*Hero*/
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contingut-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contingut-hero h2, .contingut-hero p {
    color: var(--blanc);
}
.contingut-hero .ubicacio {
    display: flex;
    align-items: flex-end;
}
.serveis, .navegacio-principal, .formulari {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    
}
/* Serveis */
@media (min-width: 768px) { 
    .serveis {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.servei {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servei h3 {
    color: var(--secundari);
    font-weight: normal;
}
.servei p {
    line-height: 2;
    text-align: center;
}
.servei .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primari);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Contacte */
.formulari {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulari fieldset {
    border: none;
}
.formulari legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primari);
}
@media (min-width: 768px) { 
    .contenidor-camps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto, auto, 20rem;
        column-gap: 1rem;
    }
    .camp:nth-child(3), .camp:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.camp {
    margin-bottom: 1rem;
}
.camp label {
    color: var(--blanc);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.camp textarea {
    height: 20rem;
}
.input-text {
    width:100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
/* Footer */
.footer {
    text-align: center;
}